<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/resources/assets/css/styles.css"/>
    <link rel="icon" href="/resources/assets/favicon.png"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <a href="#" class="brand"><img src="/resources/assets/banner.png"/></a>
        <div class="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/projects">Projects</a></li>
          </ul>
        </div>
      </div>

      <section>
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="box">
                  <div class="imgBox">
                    <img src="/resources/assets/ljidps.png" class="img-responsive">
                  </div>
                  <div class="content">
                    <h3>JIDPS</h3>
                    <p>Migrated from Django to Drupal, mainly developed front-end layouts and templates.</p>
                    <a href="https://jidps.rndsphere.com" class="btn btn-default btnD" target="_blank">Visiit</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="imgBox">
                    <img src="/resources/assets/mhitalent.png" class="img-responsive">
                  </div>
                  <div class="content">
                    <h3>HiTalent</h3>
                    <p>Developed and deployed Wordpress site. <small>*Loading latency may due to the server has been deployed in China.</small></p>
                    <a href="http://hitalentedu.com" class="btn btn-default btnD" target="_blank">Visiit</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="imgBox">
                    <img src="/resources/assets/rchill.png" class="img-responsive">
                  </div>
                  <div class="content">
                    <h3>Unicornsity</h3>
                    <p>Fully CRUD ExpressJS site with user registration and admininstration management. <small>*Loading latency due to awakening heroku free dyno.</small></p>
                    <a href="https://unicornsity.herokuapp.com" class="btn btn-default btnD" target="_blank">Visiit</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="imgBox">
                    <img src="/resources/assets/chattin-dot.png" class="img-responsive">
                  </div>
                  <div class="content">
                    <h3>Chattin-dot</h3>
                    <p>Real time chat application by using ReactJS, ExpressJS and Socket.IO. <small>*Loading latency due to awakening heroku free dyno.</small></p>
                    <a href="https://chattin-dot.herokuapp.com" class="btn btn-default btnD" target="_blank">Visiit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>